In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
dset = pd.read_csv("C:/Users/luis-/Documents/data/data_org.csv", sep=';', encoding = "ISO-8859-1")
dset.head()

,Fecha Clearing,Día Trx,Hora Trx,Operador,Ruta Modificada,Linea SAE,Parada,Tipo Vehiculo,Vehiculo,Tipo de Viaje,Linea
0,2020-11-15 00:00:00.0,2020-11-15,04:30:32,105,4509,1030,(52806) 222A05_TM|222A05_Hospital de Engativï¿...,(02) Urbano,504355,Transbordo,(1030) 740
1,2020-11-15 00:00:00.0,2020-11-15,04:31:45,105,4509,1030,(52365) 068A05_TM|068A05_Liceo Salomï¿½abio,(02) Urbano,504355,Transbordo,(1030) 740
2,2020-11-15 00:00:00.0,2020-11-15,04:32:27,105,4788,1083,(52444) 111A05_TM|111A05_Unidad Mï¿½ca Emaï¿½s...,(02) Urbano,507113,Transbordo,(1083) 402
3,2020-11-15 00:00:00.0,2020-11-15,04:32:40,105,4052,963,(27688) 255A05_GM|Br La Riviera Cl 70B -255A05,(02) Urbano,504149,Transbordo,(963) SE6_GM
4,2020-11-15 00:00:00.0,2020-11-15,04:32:49,105,4509,1030,(52442) 110A05_TM|110A05_Br. Sabana del Dorado,(02) Urbano,504355,Transbordo,(1030) 740

In [3]:
dset.columns

Index(['Fecha Clearing', 'Día Trx', 'Hora Trx', 'Operador', 'Ruta Modificada',
       'Linea SAE', 'Parada', 'Tipo Vehiculo', 'Vehiculo', 'Tipo de Viaje',
       'Linea'],
      dtype='object')

In [4]:
fecha = dset["Fecha Clearing"].str.split(expand=True)
fecha.columns = ['FechaContable', 'HoraContable']

In [5]:
parada = dset["Parada"].str.split('[)] ',expand=True)
parada.columns = ['Paradero', 'StrParadero']
linea = dset["Linea"].str.split(expand=True)
linea.columns = ['Linea_aux', 'StrLinea']
dset = pd.concat([dset, fecha, parada, linea], axis=1)
dset = dset.drop(['Fecha Clearing', 'HoraContable', "Parada","Linea_aux","Linea","Tipo Vehiculo"], axis = 1)
dset.rename(columns={'Día Trx':'FechaTransaccion','Hora Trx':'HoraTransaccion','Operador':'Empresa','Ruta Modificada':'RutaSae','Linea SAE':'Linea','Vehiculo':'Bus','Tipo de Viaje':'TipoValidacion'},inplace=True)
dset["Paradero"] = dset["Paradero"].str.replace(r"\W","")
parada2 = dset["StrParadero"].str.split('_', 1, expand=True)
parada2.columns = ['Cenefa', '0']
dset = pd.concat([dset, parada2], axis=1)
dset = dset.drop(['0'], axis = 1)
dset["StrRutaSae"]= ""
dset = dset[['FechaContable', 'FechaTransaccion', 'HoraTransaccion', 'Empresa', 'Paradero', 'StrParadero', 'Linea', 'StrLinea', 'Bus', 'TipoValidacion', 'RutaSae', 'StrRutaSae', 'Cenefa']]
dset

,FechaContable,FechaTransaccion,HoraTransaccion,Empresa,Paradero,StrParadero,Linea,StrLinea,Bus,TipoValidacion,RutaSae,StrRutaSae,Cenefa
0,2020-11-15,2020-11-15,04:30:32,105,52806,222A05_TM|222A05_Hospital de Engativï¿½maï¿½s,1030,740,504355,Transbordo,4509,,222A05
1,2020-11-15,2020-11-15,04:31:45,105,52365,068A05_TM|068A05_Liceo Salomï¿½abio,1030,740,504355,Transbordo,4509,,068A05
2,2020-11-15,2020-11-15,04:32:27,105,52444,111A05_TM|111A05_Unidad Mï¿½ca Emaï¿½s Hospita...,1083,402,507113,Transbordo,4788,,111A05
3,2020-11-15,2020-11-15,04:32:40,105,27688,255A05_GM|Br La Riviera Cl 70B -255A05,963,SE6_GM,504149,Transbordo,4052,,255A05
4,2020-11-15,2020-11-15,04:32:49,105,52442,110A05_TM|110A05_Br. Sabana del Dorado,1030,740,504355,Transbordo,4509,,110A05
...,...,...,...,...,...,...,...,...,...,...,...,...,...
36121,2020-11-15,2020-11-15,23:20:02,105,44918,122B04_GM|Br. Florencia - 122B04,8,128,504149,Viaje Inicial,3791,,122B04
36122,2020-11-15,2020-11-15,23:22:42,105,51281,102C04_TM|102C04_Pq. Metrï¿½is,1083,402,504244,Transbordo,4788,,102C04
36123,2020-11-15,2020-11-15,23:36:38,105,53090,418A05_TM|418A05_Urb. ï¿½amos IV Sector,1083,402,504244,Transbordo,4788,,418A05
36124,2020-11-15,2020-11-15,23:36:42,105,53090,418A05_TM|418A05_Urb. ï¿½amos IV Sector,1083,402,504244,Transbordo,4788,,418A05
36125,2020-11-15,2020-11-15,23:36:45,105,53090,418A05_TM|418A05_Urb. ï¿½amos IV Sector,1083,402,504244,Transbordo,4788,,418A05

In [6]:
dset.to_csv("C:/Users/luis-/Documents/data/data_fnl.csv", index=True)